name: (Containerisation/Docker/Script - Test)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v5

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: containerisation/docker/script/package-lock.json

    - name: Install dependencies
      run: npm ci
      working-directory: containerisation/docker/script

    - name: Build
      run: npm run build
      working-directory: containerisation/docker/script

    - name: Run tests
      run: npm test
      working-directory: containerisation/docker/script
